# Exchange rates from CNB 

(Czech National Bank)

## Sources:

- [CNB FAQ: Ex rates, data formats, URLs](https://www.cnb.cz/cs/casto-kladene-dotazy/Kurzy-devizoveho-trhu-na-www-strankach-CNB/)

In [584]:
import pandas as pd

In [585]:
URL_annual_exrates_root = 'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/rok.txt?rok='

In [586]:
required_year = 2022

Let's combine the year into URL:

In [587]:
full_URL = URL_annual_exrates_root + str(required_year)

And read data from CNB. According to their [documentation](https://www.cnb.cz/cs/casto-kladene-dotazy/Kurzy-devizoveho-trhu-na-www-strankach-CNB/), the file consist of 
- first row as a header (containing multiplier and currency, but we will deal with that in the next step)
- the column 0 is the date in DD.MM.YYYY format
- other columns are numbers, using comma (',') as decimal separator

In [588]:
df_exrates = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',')
df_exrates
# df_exrates
# pd.to_numeric(df_exrates['1 AUD'].str.replace(',','.'), errors='coerce')
for col in df_exrates.columns[1:]:
    # print(df_exrates[col])
    # print(pd.to_numeric(df_exrates[col].str.replace(',','.'), errors='coerce'))
    # df_exrates[col] = pd.to_numeric(df_exrates[col].str.replace(',','.'), errors='coerce')

    # pd.to_numeric(df_exrates[col].str.replace(',','.'), errors='coerce')
    pass
df_exrates

,Datum,1 AUD,1 BGN,1 BRL,1 CAD,1 CHF,1 CNY,1 DKK,1 EUR,1 GBP,...,1 PLN,1 RON,100 RUB,1 SEK,1 SGD,100 THB,1 TRY,1 USD,1 XDR,1 ZAR
0,03.01.2022,"15,818","12,690","3,906","17,210","23,931","3,441","3,337","24,820","29,502",...,"5,408","5,016","29,362","2,410","16,189","65,897","1,646","21,860","30,595",1.382
1,04.01.2022,"15,784","12,655","3,857","17,211","23,903","3,441","3,328","24,750","29,599",...,"5,419","5,002","29,146","2,407","16,166","65,862","1,635","21,944","30,744",1.367
2,05.01.2022,"15,764","12,567","3,831","17,076","23,722","3,414","3,305","24,580","29,426",...,"5,382","4,970","28,697","2,397","16,040","65,439","1,613","21,739","30,359",1.372
3,06.01.2022,"15,547","12,542","3,810","16,977","23,600","3,398","3,297","24,530","29,345",...,"5,378","4,962","28,356","2,375","15,944","64,656","1,578","21,679","30,332",1.379
4,07.01.2022,"15,462","12,495","3,798","17,000","23,450","3,391","3,286","24,440","29,291",...,"5,372","4,942","28,659","2,376","15,912","64,204","1,554","21,626","30,243",1.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,23.12.2022,"15,292","12,397","4,423","16,799","24,572","3,268","3,260","24,245","27,546",...,"5,223","4,942","2,183","16,912","65,810","1,222","22,825","30,390","1,340",NaN
249,27.12.2022,"15,383","12,390","4,330","16,864","24,541","3,278","3,262","24,260","27,467",...,"5,197","4,925","2,180","16,962","65,959","1,220","22,831","30,384","1,324",NaN
250,28.12.2022,"15,485","12,371","4,323","16,889","24,589","3,268","3,261","24,250","27,539",...,"5,157","4,903","2,184","16,934","65,641","1,218","22,796","30,337","1,326",NaN
251,29.12.2022,"15,255","12,368","4,373","16,711","24,586","3,263","3,253","24,190","27,325",...,"5,163","4,887","2,168","16,849","65,604","1,214","22,718","30,234","1,330",NaN
252,30.12.2022,"15,373","12,330","4,278","16,706","24,496","3,279","3,243","24,115","27,200",...,"5,152","4,873","2,167","16,868","65,495","1,208","22,616","30,098","1,333",NaN

**IMPORTANT:** In some years, like 2009 and 2022, the list of currencies has changed in the middle of the year. If it happens, it is necessary to split the year amd read each part independently.

In [589]:
if df_exrates['Datum'].dtype == 'object':
    print(f'Incorrect types')
    ser_new_headers = pd.Series(df_exrates[df_exrates['Datum']== 'Datum'].index)
    skip_rows = 0
    partial_dfs = list()
    for hdr_line in ser_new_headers:
        df_exrates_partial = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',', nrows=hdr_line-skip_rows, skiprows=skip_rows)
        partial_dfs.append(df_exrates_partial)
        print(f'{hdr_line = }\n{df_exrates_partial.dtypes[0:4]}')
        skip_rows = hdr_line+1

    df_exrates_partial = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',', skiprows=skip_rows)
    partial_dfs.append(df_exrates_partial)

    df_exrates =  pd.concat(partial_dfs, ignore_index=True)

df_exrates.to_csv('temp.csv')

Incorrect types
hdr_line = 42
Datum    datetime64[ns]
1 AUD           float64
1 BGN           float64
1 BRL           float64
dtype: object

In [590]:
df_exrates_partial = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',', skiprows=skip_rows)

Let's deal with column names. We should split the currency name from multiplier and put it into new table.

In [591]:
df_currencies = pd.DataFrame()
df_currencies['orig_name'] = df_exrates.columns[1:]
df_currencies[['multiplier', 'currency']] = df_currencies['orig_name'].str.split(pat = ' ', expand=True)
df_currencies

   orig_name multiplier currency
0      1 AUD          1      AUD
1      1 BGN          1      BGN
2      1 BRL          1      BRL
3      1 CAD          1      CAD
4      1 CHF          1      CHF
5      1 CNY          1      CNY
6      1 DKK          1      DKK
7      1 EUR          1      EUR
8      1 GBP          1      GBP
9      1 HKD          1      HKD
10     1 HRK          1      HRK
11   100 HUF        100      HUF
12  1000 IDR       1000      IDR
13     1 ILS          1      ILS
14   100 INR        100      INR
15   100 ISK        100      ISK
16   100 JPY        100      JPY
17   100 KRW        100      KRW
18     1 MXN          1      MXN
19     1 MYR          1      MYR
20     1 NOK          1      NOK
21     1 NZD          1      NZD
22   100 PHP        100      PHP
23     1 PLN          1      PLN
24     1 RON          1      RON
25   100 RUB        100      RUB
26     1 SEK          1      SEK
27     1 SGD          1      SGD
28   100 THB        100      THB
29     1 TRY          1      TRY
30     1 USD          1      USD
31     1 XDR          1      XDR
32     1 ZAR          1      ZAR

In [592]:
df_currencies.set_index('orig_name', inplace=True)
df_currencies

          multiplier currency
orig_name
1 AUD              1      AUD
1 BGN              1      BGN
1 BRL              1      BRL
1 CAD              1      CAD
1 CHF              1      CHF
1 CNY              1      CNY
1 DKK              1      DKK
1 EUR              1      EUR
1 GBP              1      GBP
1 HKD              1      HKD
1 HRK              1      HRK
100 HUF          100      HUF
1000 IDR        1000      IDR
1 ILS              1      ILS
100 INR          100      INR
100 ISK          100      ISK
100 JPY          100      JPY
100 KRW          100      KRW
1 MXN              1      MXN
1 MYR              1      MYR
1 NOK              1      NOK
1 NZD              1      NZD
100 PHP          100      PHP
1 PLN              1      PLN
1 RON              1      RON
100 RUB          100      RUB
1 SEK              1      SEK
1 SGD              1      SGD
100 THB          100      THB
1 TRY              1      TRY
1 USD              1      USD
1 XDR              1      XDR
1 ZAR              1      ZAR

In [593]:

new_column_names =  pd.Series(df_currencies['currency'],index=df_currencies.index).to_dict()
new_column_names

{'1 AUD': 'AUD',
 '1 BGN': 'BGN',
 '1 BRL': 'BRL',
 '1 CAD': 'CAD',
 '1 CHF': 'CHF',
 '1 CNY': 'CNY',
 '1 DKK': 'DKK',
 '1 EUR': 'EUR',
 '1 GBP': 'GBP',
 '1 HKD': 'HKD',
 '1 HRK': 'HRK',
 '100 HUF': 'HUF',
 '1000 IDR': 'IDR',
 '1 ILS': 'ILS',
 '100 INR': 'INR',
 '100 ISK': 'ISK',
 '100 JPY': 'JPY',
 '100 KRW': 'KRW',
 '1 MXN': 'MXN',
 '1 MYR': 'MYR',
 '1 NOK': 'NOK',
 '1 NZD': 'NZD',
 '100 PHP': 'PHP',
 '1 PLN': 'PLN',
 '1 RON': 'RON',
 '100 RUB': 'RUB',
 '1 SEK': 'SEK',
 '1 SGD': 'SGD',
 '100 THB': 'THB',
 '1 TRY': 'TRY',
 '1 USD': 'USD',
 '1 XDR': 'XDR',
 '1 ZAR': 'ZAR'}

In [594]:
df_exrates.rename(columns=new_column_names, inplace=True)
df_exrates.set_index('Datum', inplace=True)
df_exrates

,AUD,BGN,BRL,CAD,CHF,CNY,DKK,EUR,GBP,HKD,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,XDR,ZAR
Datum,,,,,,,,,,,,,,,,,,,,,
2022-01-03,15.818,12.690,3.906,17.210,23.931,3.441,3.337,24.820,29.502,2.803,...,5.408,5.016,29.362,2.410,16.189,65.897,1.646,21.860,30.595,1.382
2022-01-04,15.784,12.655,3.857,17.211,23.903,3.441,3.328,24.750,29.599,2.815,...,5.419,5.002,29.146,2.407,16.166,65.862,1.635,21.944,30.744,1.367
2022-01-05,15.764,12.567,3.831,17.076,23.722,3.414,3.305,24.580,29.426,2.789,...,5.382,4.970,28.697,2.397,16.040,65.439,1.613,21.739,30.359,1.372
2022-01-06,15.547,12.542,3.810,16.977,23.600,3.398,3.297,24.530,29.345,2.779,...,5.378,4.962,28.356,2.375,15.944,64.656,1.578,21.679,30.332,1.379
2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,2.772,...,5.372,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,15.292,12.397,4.423,16.799,24.572,3.268,3.260,24.245,27.546,2.925,...,5.223,4.942,NaN,2.183,16.912,65.810,1.222,22.825,30.390,1.340
2022-12-27,15.383,12.390,4.330,16.864,24.541,3.278,3.262,24.260,27.467,2.927,...,5.197,4.925,NaN,2.180,16.962,65.959,1.220,22.831,30.384,1.324
2022-12-28,15.485,12.371,4.323,16.889,24.589,3.268,3.261,24.250,27.539,2.925,...,5.157,4.903,NaN,2.184,16.934,65.641,1.218,22.796,30.337,1.326
2022-12-29,15.255,12.368,4.373,16.711,24.586,3.263,3.253,24.190,27.325,2.915,...,5.163,4.887,NaN,2.168,16.849,65.604,1.214,22.718,30.234,1.330
2022-12-30,15.373,12.330,4.278,16.706,24.496,3.279,3.243,24.115,27.200,2.901,...,5.152,4.873,NaN,2.167,16.868,65.495,1.208,22.616,30.098,1.333

I can either use this table and save it to csv or convert columns into rows to get following structure:

|datum|currency|exrate|
|-|-|-|
|2013-01-02|AUD|19.965|
|2013-01-02|BGN|12.898|

In [595]:
df_currencies.to_csv('currencies.csv')
# saving as a flat file, with a column per currency
df_exrates.to_csv('ex_rates_wide.csv',index=True, index_label='datum')

In [596]:
# df_exrates.reset_index(inplace=True)
df_exrates_depivoted = df_exrates.reset_index().melt(id_vars=['Datum'],var_name = 'currency', value_name='ex_rate'  )
df_exrates_depivoted

          Datum currency  ex_rate
0    2022-01-03      AUD   15.818
1    2022-01-04      AUD   15.784
2    2022-01-05      AUD   15.764
3    2022-01-06      AUD   15.547
4    2022-01-07      AUD   15.462
...         ...      ...      ...
8311 2022-12-23      ZAR    1.340
8312 2022-12-27      ZAR    1.324
8313 2022-12-28      ZAR    1.326
8314 2022-12-29      ZAR    1.330
8315 2022-12-30      ZAR    1.333

[8316 rows x 3 columns]

In [597]:
df_exrates_depivoted.to_csv('ex_rates_long.csv', index=False)

### Q: What if I want to add Saturdays and Sundays into the dataset?

It would be better to add that to the original dataset as new rows, based on the value from Friday. Let's try that.

In [598]:
min_date = df_exrates.index.min()
min_date
max_date = df_exrates.index.max()
[max_date, max_date.day_of_week]

[Timestamp('2022-12-30 00:00:00'), 4]

In [599]:
df_calendar = pd.DataFrame({"Date": pd.date_range(min_date, max_date)})
df_calendar

          Date
0   2022-01-03
1   2022-01-04
2   2022-01-05
3   2022-01-06
4   2022-01-07
..         ...
357 2022-12-26
358 2022-12-27
359 2022-12-28
360 2022-12-29
361 2022-12-30

[362 rows x 1 columns]

In [600]:
df_exrates[df_exrates.index <= '2023-01-08'].index.max()

Timestamp('2022-12-30 00:00:00')

In [601]:
df_calendar.set_index('Date', inplace=True)
df_calendar

Empty DataFrame
Columns: []
Index: [2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, 2022-04-11 00:00:00, 2022-04-12 00:00:00, ...]

[362 rows x 0 columns]

In [602]:
df_calendar

Empty DataFrame
Columns: []
Index: [2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, 2022-04-11 00:00:00, 2022-04-12 00:00:00, ...]

[362 rows x 0 columns]

In [603]:
# df_exrates.reset_index(inplace=True)
# df_exrates.drop(['index', 'level_0'], axis=1, inplace=True)
if 'Datum' not in df_exrates.columns:
    df_exrates.reset_index(inplace=True)

df_exrates

,Datum,AUD,BGN,BRL,CAD,CHF,CNY,DKK,EUR,GBP,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,XDR,ZAR
0,2022-01-03,15.818,12.690,3.906,17.210,23.931,3.441,3.337,24.820,29.502,...,5.408,5.016,29.362,2.410,16.189,65.897,1.646,21.860,30.595,1.382
1,2022-01-04,15.784,12.655,3.857,17.211,23.903,3.441,3.328,24.750,29.599,...,5.419,5.002,29.146,2.407,16.166,65.862,1.635,21.944,30.744,1.367
2,2022-01-05,15.764,12.567,3.831,17.076,23.722,3.414,3.305,24.580,29.426,...,5.382,4.970,28.697,2.397,16.040,65.439,1.613,21.739,30.359,1.372
3,2022-01-06,15.547,12.542,3.810,16.977,23.600,3.398,3.297,24.530,29.345,...,5.378,4.962,28.356,2.375,15.944,64.656,1.578,21.679,30.332,1.379
4,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,5.372,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2022-12-23,15.292,12.397,4.423,16.799,24.572,3.268,3.260,24.245,27.546,...,5.223,4.942,NaN,2.183,16.912,65.810,1.222,22.825,30.390,1.340
248,2022-12-27,15.383,12.390,4.330,16.864,24.541,3.278,3.262,24.260,27.467,...,5.197,4.925,NaN,2.180,16.962,65.959,1.220,22.831,30.384,1.324
249,2022-12-28,15.485,12.371,4.323,16.889,24.589,3.268,3.261,24.250,27.539,...,5.157,4.903,NaN,2.184,16.934,65.641,1.218,22.796,30.337,1.326
250,2022-12-29,15.255,12.368,4.373,16.711,24.586,3.263,3.253,24.190,27.325,...,5.163,4.887,NaN,2.168,16.849,65.604,1.214,22.718,30.234,1.330
251,2022-12-30,15.373,12.330,4.278,16.706,24.496,3.279,3.243,24.115,27.200,...,5.152,4.873,NaN,2.167,16.868,65.495,1.208,22.616,30.098,1.333

In [604]:
df_calendar

Empty DataFrame
Columns: []
Index: [2022-01-03 00:00:00, 2022-01-04 00:00:00, 2022-01-05 00:00:00, 2022-01-06 00:00:00, 2022-01-07 00:00:00, 2022-01-08 00:00:00, 2022-01-09 00:00:00, 2022-01-10 00:00:00, 2022-01-11 00:00:00, 2022-01-12 00:00:00, 2022-01-13 00:00:00, 2022-01-14 00:00:00, 2022-01-15 00:00:00, 2022-01-16 00:00:00, 2022-01-17 00:00:00, 2022-01-18 00:00:00, 2022-01-19 00:00:00, 2022-01-20 00:00:00, 2022-01-21 00:00:00, 2022-01-22 00:00:00, 2022-01-23 00:00:00, 2022-01-24 00:00:00, 2022-01-25 00:00:00, 2022-01-26 00:00:00, 2022-01-27 00:00:00, 2022-01-28 00:00:00, 2022-01-29 00:00:00, 2022-01-30 00:00:00, 2022-01-31 00:00:00, 2022-02-01 00:00:00, 2022-02-02 00:00:00, 2022-02-03 00:00:00, 2022-02-04 00:00:00, 2022-02-05 00:00:00, 2022-02-06 00:00:00, 2022-02-07 00:00:00, 2022-02-08 00:00:00, 2022-02-09 00:00:00, 2022-02-10 00:00:00, 2022-02-11 00:00:00, 2022-02-12 00:00:00, 2022-02-13 00:00:00, 2022-02-14 00:00:00, 2022-02-15 00:00:00, 2022-02-16 00:00:00, 2022-02-17 00:00:00, 2022-02-18 00:00:00, 2022-02-19 00:00:00, 2022-02-20 00:00:00, 2022-02-21 00:00:00, 2022-02-22 00:00:00, 2022-02-23 00:00:00, 2022-02-24 00:00:00, 2022-02-25 00:00:00, 2022-02-26 00:00:00, 2022-02-27 00:00:00, 2022-02-28 00:00:00, 2022-03-01 00:00:00, 2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00, 2022-03-05 00:00:00, 2022-03-06 00:00:00, 2022-03-07 00:00:00, 2022-03-08 00:00:00, 2022-03-09 00:00:00, 2022-03-10 00:00:00, 2022-03-11 00:00:00, 2022-03-12 00:00:00, 2022-03-13 00:00:00, 2022-03-14 00:00:00, 2022-03-15 00:00:00, 2022-03-16 00:00:00, 2022-03-17 00:00:00, 2022-03-18 00:00:00, 2022-03-19 00:00:00, 2022-03-20 00:00:00, 2022-03-21 00:00:00, 2022-03-22 00:00:00, 2022-03-23 00:00:00, 2022-03-24 00:00:00, 2022-03-25 00:00:00, 2022-03-26 00:00:00, 2022-03-27 00:00:00, 2022-03-28 00:00:00, 2022-03-29 00:00:00, 2022-03-30 00:00:00, 2022-03-31 00:00:00, 2022-04-01 00:00:00, 2022-04-02 00:00:00, 2022-04-03 00:00:00, 2022-04-04 00:00:00, 2022-04-05 00:00:00, 2022-04-06 00:00:00, 2022-04-07 00:00:00, 2022-04-08 00:00:00, 2022-04-09 00:00:00, 2022-04-10 00:00:00, 2022-04-11 00:00:00, 2022-04-12 00:00:00, ...]

[362 rows x 0 columns]

In [605]:
df_exrates['datum_index'] = df_exrates['Datum']
df_exrates

,Datum,AUD,BGN,BRL,CAD,CHF,CNY,DKK,EUR,GBP,...,RON,RUB,SEK,SGD,THB,TRY,USD,XDR,ZAR,datum_index
0,2022-01-03,15.818,12.690,3.906,17.210,23.931,3.441,3.337,24.820,29.502,...,5.016,29.362,2.410,16.189,65.897,1.646,21.860,30.595,1.382,2022-01-03
1,2022-01-04,15.784,12.655,3.857,17.211,23.903,3.441,3.328,24.750,29.599,...,5.002,29.146,2.407,16.166,65.862,1.635,21.944,30.744,1.367,2022-01-04
2,2022-01-05,15.764,12.567,3.831,17.076,23.722,3.414,3.305,24.580,29.426,...,4.970,28.697,2.397,16.040,65.439,1.613,21.739,30.359,1.372,2022-01-05
3,2022-01-06,15.547,12.542,3.810,16.977,23.600,3.398,3.297,24.530,29.345,...,4.962,28.356,2.375,15.944,64.656,1.578,21.679,30.332,1.379,2022-01-06
4,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384,2022-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2022-12-23,15.292,12.397,4.423,16.799,24.572,3.268,3.260,24.245,27.546,...,4.942,NaN,2.183,16.912,65.810,1.222,22.825,30.390,1.340,2022-12-23
248,2022-12-27,15.383,12.390,4.330,16.864,24.541,3.278,3.262,24.260,27.467,...,4.925,NaN,2.180,16.962,65.959,1.220,22.831,30.384,1.324,2022-12-27
249,2022-12-28,15.485,12.371,4.323,16.889,24.589,3.268,3.261,24.250,27.539,...,4.903,NaN,2.184,16.934,65.641,1.218,22.796,30.337,1.326,2022-12-28
250,2022-12-29,15.255,12.368,4.373,16.711,24.586,3.263,3.253,24.190,27.325,...,4.887,NaN,2.168,16.849,65.604,1.214,22.718,30.234,1.330,2022-12-29
251,2022-12-30,15.373,12.330,4.278,16.706,24.496,3.279,3.243,24.115,27.200,...,4.873,NaN,2.167,16.868,65.495,1.208,22.616,30.098,1.333,2022-12-30

In [606]:
df_all_dates = df_calendar.merge(df_exrates, how='left', left_index = True, right_on='datum_index')
# df_all_dates.set_index('datum_index', inplace=True)
df_all_dates.head(15)

,Datum,AUD,BGN,BRL,CAD,CHF,CNY,DKK,EUR,GBP,...,RON,RUB,SEK,SGD,THB,TRY,USD,XDR,ZAR,datum_index
0.0,2022-01-03,15.818,12.690,3.906,17.210,23.931,3.441,3.337,24.820,29.502,...,5.016,29.362,2.410,16.189,65.897,1.646,21.860,30.595,1.382,2022-01-03
1.0,2022-01-04,15.784,12.655,3.857,17.211,23.903,3.441,3.328,24.750,29.599,...,5.002,29.146,2.407,16.166,65.862,1.635,21.944,30.744,1.367,2022-01-04
2.0,2022-01-05,15.764,12.567,3.831,17.076,23.722,3.414,3.305,24.580,29.426,...,4.970,28.697,2.397,16.040,65.439,1.613,21.739,30.359,1.372,2022-01-05
3.0,2022-01-06,15.547,12.542,3.810,16.977,23.600,3.398,3.297,24.530,29.345,...,4.962,28.356,2.375,15.944,64.656,1.578,21.679,30.332,1.379,2022-01-06
4.0,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384,2022-01-07
NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-08
NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-09
5.0,2022-01-10,15.444,12.456,3.809,17.004,23.317,3.378,3.275,24.360,29.212,...,4.926,28.664,2.364,15.877,64.023,1.547,21.525,30.096,1.376,2022-01-10
6.0,2022-01-11,15.449,12.483,3.821,17.035,23.250,3.379,3.281,24.415,29.252,...,4.937,28.769,2.369,15.915,64.515,1.566,21.538,30.151,1.379,2022-01-11
7.0,2022-01-12,15.495,12.486,3.847,17.127,23.285,3.375,3.282,24.420,29.302,...,4.938,28.800,2.381,15.898,64.390,1.556,21.470,30.066,1.391,2022-01-12
8.0,2022-01-13,15.571,12.505,3.851,17.106,23.399,3.355,3.287,24.460,29.273,...,4.947,28.242,2.389,15.857,64.297,1.571,21.340,29.916,1.386,2022-01-13
9.0,2022-01-14,15.500,12.523,3.867,17.094,23.481,3.368,3.292,24.495,29.332,...,4.956,27.824,2.385,15.889,64.411,1.576,21.400,30.119,1.391,2022-01-14
NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-15
NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-16
10.0,2022-01-17,15.479,12.512,3.897,17.128,23.461,3.380,3.288,24.470,29.283,...,4.949,28.004,2.375,15.917,64.808,1.601,21.461,30.215,1.390,2022-01-17

In [607]:
# df_all_dates.ffill().head(15)
df_all_dates.ffill(inplace=True)
df_all_dates.set_index('datum_index', inplace=True)
df_all_dates.rename(columns={'Datum':'CNB_Date'}, inplace=True)
df_all_dates.head(15)

,CNB_Date,AUD,BGN,BRL,CAD,CHF,CNY,DKK,EUR,GBP,...,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,XDR,ZAR
datum_index,,,,,,,,,,,,,,,,,,,,,
2022-01-03,2022-01-03,15.818,12.690,3.906,17.210,23.931,3.441,3.337,24.820,29.502,...,5.408,5.016,29.362,2.410,16.189,65.897,1.646,21.860,30.595,1.382
2022-01-04,2022-01-04,15.784,12.655,3.857,17.211,23.903,3.441,3.328,24.750,29.599,...,5.419,5.002,29.146,2.407,16.166,65.862,1.635,21.944,30.744,1.367
2022-01-05,2022-01-05,15.764,12.567,3.831,17.076,23.722,3.414,3.305,24.580,29.426,...,5.382,4.970,28.697,2.397,16.040,65.439,1.613,21.739,30.359,1.372
2022-01-06,2022-01-06,15.547,12.542,3.810,16.977,23.600,3.398,3.297,24.530,29.345,...,5.378,4.962,28.356,2.375,15.944,64.656,1.578,21.679,30.332,1.379
2022-01-07,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,5.372,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384
2022-01-08,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,5.372,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384
2022-01-09,2022-01-07,15.462,12.495,3.798,17.000,23.450,3.391,3.286,24.440,29.291,...,5.372,4.942,28.659,2.376,15.912,64.204,1.554,21.626,30.243,1.384
2022-01-10,2022-01-10,15.444,12.456,3.809,17.004,23.317,3.378,3.275,24.360,29.212,...,5.373,4.926,28.664,2.364,15.877,64.023,1.547,21.525,30.096,1.376
2022-01-11,2022-01-11,15.449,12.483,3.821,17.035,23.250,3.379,3.281,24.415,29.252,...,5.372,4.937,28.769,2.369,15.915,64.515,1.566,21.538,30.151,1.379
2022-01-12,2022-01-12,15.495,12.486,3.847,17.127,23.285,3.375,3.282,24.420,29.302,...,5.385,4.938,28.800,2.381,15.898,64.390,1.556,21.470,30.066,1.391
2022-01-13,2022-01-13,15.571,12.505,3.851,17.106,23.399,3.355,3.287,24.460,29.273,...,5.392,4.947,28.242,2.389,15.857,64.297,1.571,21.340,29.916,1.386
2022-01-14,2022-01-14,15.500,12.523,3.867,17.094,23.481,3.368,3.292,24.495,29.332,...,5.392,4.956,27.824,2.385,15.889,64.411,1.576,21.400,30.119,1.391
2022-01-15,2022-01-14,15.500,12.523,3.867,17.094,23.481,3.368,3.292,24.495,29.332,...,5.392,4.956,27.824,2.385,15.889,64.411,1.576,21.400,30.119,1.391
2022-01-16,2022-01-14,15.500,12.523,3.867,17.094,23.481,3.368,3.292,24.495,29.332,...,5.392,4.956,27.824,2.385,15.889,64.411,1.576,21.400,30.119,1.391
2022-01-17,2022-01-17,15.479,12.512,3.897,17.128,23.461,3.380,3.288,24.470,29.283,...,5.408,4.949,28.004,2.375,15.917,64.808,1.601,21.461,30.215,1.390

A ted to muzu zase dostat z tech sloupecku do radku

In [608]:
df_full_calendar_depivoted = df_all_dates.reset_index().melt(id_vars=['datum_index', 'CNB_Date'],var_name = 'currency', value_name='ex_rate'  )
df_full_calendar_depivoted

      datum_index   CNB_Date currency  ex_rate
0      2022-01-03 2022-01-03      AUD   15.818
1      2022-01-04 2022-01-04      AUD   15.784
2      2022-01-05 2022-01-05      AUD   15.764
3      2022-01-06 2022-01-06      AUD   15.547
4      2022-01-07 2022-01-07      AUD   15.462
...           ...        ...      ...      ...
11941  2022-12-26 2022-12-23      ZAR    1.340
11942  2022-12-27 2022-12-27      ZAR    1.324
11943  2022-12-28 2022-12-28      ZAR    1.326
11944  2022-12-29 2022-12-29      ZAR    1.330
11945  2022-12-30 2022-12-30      ZAR    1.333

[11946 rows x 4 columns]

In [609]:
df_full_calendar_depivoted.to_csv('calendar_with_ex_rates_long.csv', index=False)

### Let's put the code into methods

In [610]:
import pandas as pd

def download_year(year:int, base_URL = 'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/rok.txt', paramname = 'rok'):
    '''
    Download the year from CNB web as dataframe
    '''

    if pd.Timestamp.today().year < year:
        return None

    full_URL = f'{base_URL}?{paramname}={year}'
    df_exrates = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',')

    # if df_exrates['Datum'].dtype == 'object':
    #     df_exrates['Datum'] = pd.to_datetime(df_exrates['Datum'], format = '%d.%m.%Y', errors = 'coerce')
    #     df_exrates = df_exrates[df_exrates['Datum'].notna()]

    if df_exrates['Datum'].dtype == 'object':
        ser_new_headers = pd.Series(df_exrates[df_exrates['Datum']== 'Datum'].index)
        print(f'WARNING: change in columns during the year {year} on lines {ser_new_headers}')
        skip_rows = 0
        partial_dfs = list()
        for hdr_line in ser_new_headers:
            df_exrates_partial = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',', nrows=hdr_line-skip_rows, skiprows=skip_rows)
            partial_dfs.append(df_exrates_partial)
            skip_rows = hdr_line+1

        df_exrates_partial = pd.read_csv(full_URL, sep='|', header=0, parse_dates=[0], date_format = '%d.%m.%Y', decimal=',', skiprows=skip_rows)
        partial_dfs.append(df_exrates_partial)

        df_exrates =  pd.concat(partial_dfs, ignore_index=True)


    return df_exrates

def download_years(year_from,
                   year_to = 2100,
                   base_URL = 'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/rok.txt',
                   paramname = 'rok'):
    '''
    Download years from/to a specific year from CNB web as dataframe
    '''

    year_to = min(pd.Timestamp.today().year, year_to)
    df_exrates_years = pd.DataFrame()
    exrates_years = list()
    for year in range(year_from, year_to + 1):
        df_year = download_year(year, base_URL, paramname)
        exrates_years.append(df_year)

    df_exrates_years = pd.concat(exrates_years, ignore_index=True)
    return df_exrates_years

In [611]:
df_exrates = download_years(2023)
df_exrates

,Datum,1 AUD,1 BGN,1 BRL,1 CAD,1 CHF,1 CNY,1 DKK,1 EUR,1 GBP,...,1 PLN,1 RON,1 SEK,1 SGD,100 THB,1 TRY,1 USD,1 XDR,1 ZAR,100 TRY
0,2023-01-02,15.400,12.385,4.237,16.668,24.496,3.281,3.250,24.175,27.272,...,5.164,4.894,2.165,16.878,65.491,1.209,22.630,30.118,1.330,NaN
1,2023-01-03,15.358,12.335,4.259,16.738,24.422,3.311,3.244,24.125,27.401,...,5.152,4.893,2.165,17.006,66.548,1.221,22.878,30.447,1.339,NaN
2,2023-01-04,15.550,12.284,4.161,16.729,24.409,3.293,3.230,24.025,27.276,...,5.147,4.877,2.152,16.907,66.658,1.210,22.672,30.148,1.347,NaN
3,2023-01-05,15.483,12.280,4.209,16.795,24.400,3.300,3.231,24.030,27.218,...,5.146,4.880,2.148,16.914,66.846,1.208,22.676,30.267,1.326,NaN
4,2023-01-06,15.430,12.299,4.294,16.786,24.387,3.340,3.235,24.055,27.189,...,5.124,4.879,2.137,16.993,67.322,1.221,22.911,30.549,1.320,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,2024-10-08,15.536,12.943,4.184,16.899,26.893,3.269,3.394,25.315,30.214,...,5.875,5.086,2.230,17.693,68.965,NaN,23.052,30.883,1.321,67.262
446,2024-10-09,15.564,12.961,4.176,16.919,26.975,3.274,3.399,25.350,30.273,...,5.898,5.095,2.231,17.731,69.125,NaN,23.135,31.036,1.311,67.569
447,2024-10-10,15.557,12.946,4.147,16.842,26.970,3.272,3.395,25.320,30.251,...,5.882,5.088,2.228,17.704,68.945,NaN,23.160,31.031,1.316,67.691
448,2024-10-11,15.578,12.933,4.152,16.788,26.979,3.273,3.390,25.295,30.217,...,5.896,5.084,2.227,17.708,69.453,NaN,23.123,30.947,1.323,67.498
449,2024-10-14,15.539,12.915,4.107,16.781,26.829,3.267,3.385,25.260,30.192,...,5.889,5.078,2.221,17.692,69.577,NaN,23.146,30.973,1.318,67.531

In [612]:
def get_currencies(df_exrates:pd.DataFrame):
    df_currencies = pd.DataFrame()
    df_currencies['orig_name'] = df_exrates.columns[1:]
    df_currencies[['multiplier', 'currency']] = df_currencies['orig_name'].str.split(pat = ' ', expand=True)
    df_currencies.set_index('orig_name', inplace=True)
    return df_currencies

In [613]:
def rename_columns(df_exrates, df_currencies):
    new_column_names =  pd.Series(df_currencies['currency'],index=df_currencies.index).to_dict()
    # df_exrates.rename(columns=new_column_names, inplace=True)
    # df_exrates.set_index('Datum', inplace=True)
    return df_exrates.rename(columns=new_column_names).set_index('Datum')

In [614]:
def get_full_calendar(df_exrates:pd.DataFrame):
    min_date = df_exrates.index.min()
    max_date = df_exrates.index.max()
    df_calendar = pd.DataFrame({"Date": pd.date_range(min_date, max_date)})
    df_calendar.set_index('Date', inplace=True)

    if 'Datum' not in df_exrates.columns:
        df_exrates.reset_index(inplace=True)

    df_exrates['datum_index'] = df_exrates['Datum']
    df_all_dates = df_calendar.merge(df_exrates, how='left', left_index = True, right_on='datum_index')
    df_all_dates.ffill(inplace=True)
    df_all_dates.set_index('datum_index', inplace=True)
    df_all_dates.rename(columns={'Datum':'CNB_Date'}, inplace=True)
    return df_all_dates

In [615]:
def convert_columns_to_rows(df_full_calendar: pd.DataFrame)->pd.DataFrame:
    df_full_calendar_depivoted = df_full_calendar.reset_index().melt(id_vars=['datum_index', 'CNB_Date'],var_name = 'currency', value_name='ex_rate'  )
    return df_full_calendar_depivoted

In [616]:
def download_years_to_csv(year_from:int,
                          year_to:int = 2100,
                          fname:str = 'calendar_with_ex_rates.csv',
                          currency_fname:str = None,
                          long_format:bool = True,
                          base_URL:str = 'https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/rok.txt',
                          paramname:str = 'rok'):
    df_exrates = download_years(year_from=year_from,
                                year_to=year_to,
                                base_URL=base_URL,
                                paramname=paramname)
    df_currencies = get_currencies(df_exrates)
    if currency_fname:
        df_currencies.to_csv(currency_fname)

    df_exrates = rename_columns(df_exrates, df_currencies)
    df_full_calendar = get_full_calendar(df_exrates)
    if long_format:
        df_full_calendar_depivoted = convert_columns_to_rows(df_full_calendar)
        df_full_calendar_depivoted.to_csv(fname, index=False)
    else:
        df_full_calendar.to_csv(fname, index=True, index_label='datum_index')

In [617]:
if True:
    df_exrates = download_year(2009) # 2022 is strange, there is a row 42 in the file that contains header (again)
    # df_currencies = get_currencies(df_exrates)
    # df_exrates = rename_columns(df_exrates, df_currencies)
    # df_full_calendar = get_full_calendar(df_exrates)
# df_exrates.info()


df_exrates.head(50)


# min_date = df_exrates.index.min()

WARNING: change in columns during the year 2009 on lines 0    129
dtype: int64

,Datum,1 AUD,1 BGN,1 BRL,1 CAD,1 CHF,1 CNY,1 DKK,1 EEK,1 EUR,...,1 PLN,1 RON,100 RUB,1 SEK,1 SGD,100 THB,1 TRY,1 USD,1 XDR,1 ZAR
0,2009-01-02,13.493,13.715,8.275,15.833,18.037,2.836,3.601,1.715,26.830,...,6.444,6.675,65.789,2.473,13.242,55.682,12.552,19.347,29.799,2.051
1,2009-01-05,13.944,13.675,8.467,16.232,17.759,2.884,3.593,1.710,26.760,...,6.468,6.609,67.600,2.498,13.383,56.351,12.805,19.695,30.335,2.079
2,2009-01-06,14.097,13.496,8.939,16.653,17.566,2.898,3.543,1.688,26.405,...,6.569,6.496,67.947,2.498,13.394,56.491,13.039,19.809,30.098,2.121
3,2009-01-07,13.854,13.337,8.697,16.236,17.370,2.808,3.505,1.669,26.120,...,6.572,6.367,65.890,2.470,13.048,55.081,12.622,19.185,28.891,2.050
4,2009-01-08,13.506,13.390,8.468,16.012,17.529,2.813,3.514,1.674,26.190,...,6.495,6.296,65.367,2.445,12.971,55.038,12.336,19.222,29.318,1.994
5,2009-01-09,13.672,13.540,8.481,16.351,17.658,2.831,3.553,1.692,26.480,...,6.546,6.257,66.365,2.470,13.075,55.551,12.481,19.351,29.514,2.005
6,2009-01-12,13.640,13.591,8.684,16.586,17.711,2.903,3.566,1.699,26.580,...,6.567,6.216,63.908,2.470,13.359,56.964,12.603,19.846,30.469,1.981
7,2009-01-13,13.465,13.681,8.700,16.390,18.005,2.952,3.591,1.710,26.760,...,6.461,6.251,64.620,2.450,13.544,57.781,12.607,20.174,30.698,2.001
8,2009-01-14,13.622,13.765,8.809,16.679,18.238,2.991,3.614,1.721,26.930,...,6.499,6.278,64.363,2.460,13.694,58.551,12.772,20.440,30.968,2.035
9,2009-01-15,13.776,13.952,8.725,16.668,18.531,3.051,3.664,1.745,27.300,...,6.455,6.346,64.529,2.484,13.928,59.780,12.893,20.860,31.534,2.049
10,2009-01-16,13.849,13.887,8.809,16.534,18.270,2.994,3.645,1.736,27.160,...,6.497,6.347,62.940,2.522,13.773,58.696,12.737,20.467,30.997,2.064
11,2009-01-19,14.111,14.155,8.989,16.786,18.696,3.073,3.718,1.770,27.700,...,6.377,6.435,63.538,2.568,14.057,60.132,12.724,21.004,31.810,2.086
12,2009-01-20,14.191,14.267,9.154,17.048,18.842,3.154,3.745,1.783,27.905,...,6.375,6.415,64.721,2.563,14.294,61.701,12.883,21.578,32.680,2.089
13,2009-01-21,13.835,14.101,9.016,16.874,18.685,3.123,3.702,1.763,27.585,...,6.348,6.393,65.031,2.562,14.205,61.122,12.861,21.362,31.848,2.089
14,2009-01-22,13.996,14.155,9.163,16.884,18.423,3.119,3.716,1.770,27.690,...,6.399,6.402,65.376,2.589,14.251,61.066,12.926,21.321,31.904,2.119
15,2009-01-23,14.162,14.363,9.333,17.469,18.790,3.211,3.770,1.796,28.105,...,6.330,6.528,66.447,2.623,14.571,62.892,13.114,21.959,32.671,2.127
16,2009-01-26,14.006,14.159,9.218,17.446,18.418,3.117,3.716,1.770,27.700,...,6.371,6.515,64.640,2.614,14.221,61.091,12.987,21.318,31.717,2.113
17,2009-01-27,13.904,14.134,9.078,17.067,18.405,3.067,3.709,1.767,27.645,...,6.346,6.523,63.439,2.624,13.961,60.113,12.932,20.977,31.589,2.097
18,2009-01-28,13.808,13.984,9.003,16.916,18.037,3.016,3.671,1.749,27.360,...,6.295,6.467,61.144,2.579,13.768,59.125,12.781,20.629,31.175,2.085
19,2009-01-29,13.771,14.043,9.208,17.206,18.232,3.063,3.686,1.756,27.470,...,6.268,6.465,60.071,2.608,13.923,60.007,12.953,20.947,31.520,2.113
20,2009-01-30,13.855,14.245,9.407,17.546,18.735,3.179,3.739,1.781,27.870,...,6.251,6.468,60.907,2.627,14.404,62.187,13.168,21.744,32.440,2.121
21,2009-02-02,13.842,14.376,9.357,17.726,18.921,3.221,3.774,1.798,28.130,...,6.334,6.525,60.969,2.636,14.550,63.080,13.291,22.056,32.883,2.154
22,2009-02-03,14.127,14.526,9.527,17.689,19.069,3.232,3.812,1.816,28.410,...,6.245,6.597,61.087,2.643,14.599,63.227,13.443,22.107,33.018,2.185
23,2009-02-04,14.181,14.501,9.576,17.806,19.036,3.238,3.807,1.813,28.370,...,6.065,6.590,60.962,2.659,14.656,63.332,13.439,22.125,33.096,2.193
24,2009-02-05,14.271,14.444,9.547,17.867,18.940,3.221,3.791,1.806,28.250,...,6.076,6.604,60.590,2.658,14.613,62.979,13.430,22.014,32.915,2.211
25,2009-02-06,14.440,14.330,9.591,17.514,18.673,3.205,3.762,1.791,28.030,...,6.090,6.581,60.370,2.653,14.571,62.530,13.400,21.901,32.654,2.209
26,2009-02-09,14.413,14.194,9.516,17.388,18.434,3.120,3.726,1.775,27.765,...,6.193,6.542,59.423,2.660,14.281,60.979,13.230,21.340,31.978,2.226
27,2009-02-10,14.440,14.319,9.587,17.649,18.593,3.165,3.758,1.790,28.010,...,6.293,6.593,60.284,2.662,14.428,61.701,13.361,21.598,32.378,2.228
28,2009-02-11,14.482,14.619,9.614,17.709,19.084,3.233,3.837,1.827,28.590,...,6.236,6.668,62.712,2.643,14.644,62.964,13.473,22.091,33.061,2.216
29,2009-02-12,14.425,14.632,9.718,17.896,19.222,3.264,3.840,1.829,28.620,...,6.211,6.663,64.167,2.650,14.768,63.498,13.488,22.304,33.380,2.208
30,2009-02-13,14.727,14.612,9.811,18.048,19.133,3.258,3.835,1.827,28.580,...,6.156,6.646,64.252,2.660,14.780,63.444,13.531,22.285,33.233,2.236
31,2009-02-16,14.841,14.893,10.072,18.308,19.564,3.343,3.909,1.862,29.135,...,6.080,6.756,64.720,2.668,15.039,64.858,13.714,22.819,34.029,2.275
32,2009-02-17,14.925,15.067,10.147,18.471,19.893,3.414,3.955,1.883,29.470,...,6.036,6.844,64.424,2.684,15.291,66.156,13.904,23.333,34.797,2.290
33,2009-02-18,14.616,14.749,9.825,18.174,19.511,3.349,3.872,1.844,28.850,...,6.017,6.732,63.260,2.597,14.976,64.755,13.513,22.900,33.790,2.243
34,2009-02-19,14.593,14.618,9.688,18.012,19.159,3.293,3.838,1.828,28.595,...,6.117,6.692,62.622,2.624,14.751,63.279,13.399,22.505,33.206,2.255
35,2009-02-20,14.593,14.730,9.619,18.111,19.313,3.347,3.867,1.841,28.810,...,6.063,6.723,63.230,2.603,14.883,64.007,13.358,22.882,33.757,2.248
36,2009-02-23,14.370,14.542,9.345,17.777,19.079,3.252,3.819,1.818,28.450,...,6.128,6.642,61.800,2.554,14.563,62.398,13.205,22.231,32.796,2.228
37,2009-02-24,14.314,14.487,9.292,17.719,19.138,3.247,3.804,1.811,28.340,...,6.060,6.633,61.681,2.500,14.527,62.217,13.078,22.202,32.848,2.202
38,2009-02-25,14.399,14.494,9.297,17.776,19.086,3.240,3.806,1.812,28.350,...,6.092,6.621,61.870,2.507,14.511,61.925,13.132,22.154,32.776,2.224
39,2009-02-26,14.434,14.460,9.382,17.801,19.044,3.236,3.798,1.808,28.290,...,6.025,6.597,62.105,2.500,14.403,61.553,13.105,22.122,32.655,2.238
40,2009-02-27,14.142,14.381,9.353,17.596,18.953,3.252,3.775,1.798,28.125,...,5.980,6.537,61.792,2.455,14.383,61.526,13.062,22.245,32.641,2.194
41,2009-03-02,14.243,14.470,9.310,17.438,19.108,3.283,3.798,1.809,28.300,...,5.958,6.578,62.091,2.444,14.450,61.987,13.014,22.470,32.936,2.166
42,2009-03-03,14.251,14.294,9.178,17.239,18.860,3.240,3.752,1.787,27.955,...,5.903,6.503,61.082,2.434,14.300,61.315,12.829,22.165,32.426,2.114
43,2009-03-04,14.148,14.165,9.185,17.146,18.743,3.226,3.719,1.771,27.710,...,5.878,6.461,61.236,2.405,14.257,61.170,12.772,22.076,32.186,2.107
44,2009-03-05,14.163,14.182,9.265,17.176,18.779,3.230,3.724,1.773,27.745,...,5.875,6.482,61.587,2.417,14.203,61.006,12.571,22.093,32.253,2.100
45,2009-03-06,14.182,14.341,9.282,17.248,19.163,3.239,3.765,1.793,28.050,...,5.929,6.536,61.921,2.396,14.332,61.396,12.391,22.155,32.562,2.105
46,2009-03-09,13.893,14.130,9.224,16.847,18.838,3.216,3.710,1.767,27.640,...,5.826,6.434,61.662,2.389,14.171,60.824,12.113,21.994,32.090,2.066
47,2009-03-10,13.700,13.902,9.002,16.591,18.535,3.109,3.653,1.739,27.215,...,5.796,6.341,60.809,2.374,13.859,59.075,11.935,21.270,31.166,2.045
48,2009-03-11,13.718,13.784,9.068,16.511,18.247,3.082,3.619,1.723,26.960,...,5.872,6.298,60.218,2.398,13.751,58.623,12.189,21.084,30.933,2.074
49,2009-03-12,13.659,13.805,9.077,16.403,17.735,3.089,3.626,1.727,27.020,...,5.871,6.305,60.087,2.410,13.812,58.732,12.131,21.126,31.107,2.083

In [618]:
# download_years_to_csv(2021, fname= 'exrates_2021_2024.csv', long_format=True)
download_years_to_csv(2006, fname= 'exrates_test.csv', currency_fname = 'currencies.csv', long_format=True)

WARNING: change in columns during the year 2009 on lines 0    129
dtype: int64
WARNING: change in columns during the year 2022 on lines 0    42
dtype: int64